@page
@model ASAssignment.Pages.errors._404Model
@{
    ViewData["Title"] = "Page not found";
}

<div class="container text-center mt-5">
    <h1 style="font-size:120px;">404</h1>
    <p class="fs-4">We couldn't find this page.</p>
    <p>Return to <a asp-page="/Index">Home</a></p>
</div>
