@page
@model ASAssignment.Pages.errors._500Model
@{
    ViewData["Title"] = "Something went wrong";
}

<div class="container text-center mt-5">
    <h1 style="font-size:120px;">500</h1>
    <p class="fs-4">Something went wrong on our side.</p>
    <p>Please try again later.</p>
    <p><a asp-page="/Index">Back to Home</a></p>
</div>